body {
    font-family: Arial, sans-serif;
   background-color: #86cece;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #91bee7;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
 h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 9px;
    margin: 7px 0;
    border: 1px solid #03859c;
    border-radius: 48px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #56a2f3;
    border: none;
    border-radius: 48px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #130596;
}