body {
    font-family: Arial, sans-serif;
   background-color: #a5aaa7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
   line-break: normal;
}
.login-container {
    background-color: #7e7d7d;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
 h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 9px;
    margin: 7px 0;
    border: 1px solid #db1616;
    border-radius: 48px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #0676ec;
    border: none;
    border-radius: 48px;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #059629;
}