body{
  background-image: url('https://siwanengineeringcollege.in/sec/img/home/siwan1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
table, th, td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  text-align: center;
}

header {
    background: #333;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;

}
footer {
    position: bottom;
    bottom: 0px;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin-bottom: 7px;
    min-height: 70px;
}