
 body {
   
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 img{
   position: relative;
 }
 header{
    text-align: center;
    background-color: rgb(63, 122, 66);
    background-size: contain;
    font-weight: bold;
    font-style: normal;
    font-size:26px;
    font-variant: small-caps;

 }
 h1 {
    font-style:normal;
    font-size: 40px;
    font-weight:bold;
    font-variant: small-caps;
    text-align: center;
 }
 h2 {
    font-size: 25px;
 }
li,a {
    font-size: 15px;
    display: inline;
    color: black;
    text-align: right;
 }
 nav {
   text-align: right;
 }

 section{
   text-align: center;
 }
 footer {
   position: fixed;
   bottom: 0px;
   width: 100%;
   background: #333;
   color: #fff;
   padding: 1px;
   margin-bottom: 7px;
   min-height: 70px;
}